@charset "UTF-8";
body {
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}

.cow {
  position: relative;
  z-index: 5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 100px;
  font-size: 3em;
  transition: all 4s;
  transform: translateY(20vh) scale(1);
}
.cow.start-beam:after {
  opacity: 1;
  transform: scaleY(1);
}
.cow.abduct {
  transform: translateY(-100px) scale(0);
  opacity: 0;
}
.cow.leave-this-planet:after {
  display: none;
}
.cow:after {
  position: absolute;
  z-index: -1;
  top: -160px;
  display: block;
  opacity: 0;
  content: "";
  border-right: 40px inset transparent;
  border-left: 40px inset transparent;
  border-bottom: 240px solid springgreen;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition: opacity 0.4s, transform 0.6s;
}

.tree {
  position: absolute;
  bottom: 20vh;
  left: 20vw;
  display: inline-block;
  font-size: 6em;
  cursor: pointer;
}

.hill {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: calc(30vh - 10px);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: limegreen;
  text-align: center;
}
.hill.invade:before {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.hill.laterz:before {
  transition: transform 4s;
  transform: translateX(110vw) scale(3);
}
.hill.leave-this-planet:before {
  opacity: 0;
  transform: translateX(-100vw) scale(0.2);
}
.hill:before {
  display: block;
  content: "🛸";
  position: absolute;
  z-index: 9999;
  top: -250px;
  left: 0;
  right: 0;
  font-size: 6em;
  opacity: 0;
  transform: translateY(-40vh) scale(0);
  transition: opacity 0.4s, transform 0.7s;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}